<html>
<head>
<title>Purchase an item!</title>
</head>
<body>
<h1>Purchase an item!</h1>
<form method="post" action="/checkout">
    <p>
    <label for="item">Item: </label>
    <input type="text" id="item" name="item">
    <br>
    <input type="submit" id="submit">
    </p>
</form>
</body>
</html>
