<!DOCTYPE html>
  <body>
    <form action='/checkout' method='post'>
      <label>Item to purchase: </label><input id='item' type='text' name='item'>
      <input id='submit' type='submit'>
    </form>
  </body>

</html>